.melnoca2{
  width: 50%;
  top: 20%;
  position: absolute;
}

  
  .square {
    position: absolute;
    top:9%;
    width: 100px;
    height: 100px;
    left: 6%;
    z-index: 999;
    color: #fff;
    font-size: 1.5em;
    text-align: center; 
    animation: 3s linear infinite rotate;
  }
  
  .pivont-point {
    position: absolute;
    top: 50%;
    left: 50%;
  
    color: #363636;
    font-size: 30px;
  
    transform: translate(-50%, -50%);
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  

  .square1{
    position: absolute;
    left: 25%;
    top: 20%;
  }


  .strok{
    position: absolute;
    transform: rotate(107deg);
    top: -13px;
    left: 11%;
}
  
 .main_pic1{
  margin-top:50px;
 }

 .main_content{
  display: flex;
 }